/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton');

/*Header section*/
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.header {
height: 100px;
width: 100%;

}

.img-reel {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.img-reel div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  text-align: center;
}

.img-reel div img {
  width: 280px; 
  height: 100%; 
}
h1 {
  font-family: "Anton", sans-serif;
  color: #333;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;

}

nav{
  position: absolute;
  margin-top: 100px;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    margin-bottom: 30px;
    /*ni får hoppa ner om ni inte får plats = wrap*/
}

.flex-items {
    /*flex: 100px;*/
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    background-color: white;
    margin-top: 50px;
}

.listmoviecards {
  text-align: center;
}



.moviecover {
height: 300px;
width:  auto;
}

#btnBadMovie {
  margin-bottom: 20px;
}



